MyHeroApi/bin/Debug/netcoreapp3.1/demo-api.dll
MyHeroApi/bin/Debug/netcoreapp3.1/demo-api.pdb
MyHeroApi/obj/Debug/netcoreapp3.1/demo-api.assets.cache
MyHeroApi/obj/Debug/netcoreapp3.1/demo-api.csprojAssemblyReference.cache
MyHeroApi/obj/Debug/netcoreapp3.1/demo-api.dll
MyHeroApi/obj/Debug/netcoreapp3.1/demo-api.pdb
MyHeroApi/obj/Debug/netcoreapp3.1/demo-api.assets.cache
MyHeroApi/obj/Debug/netcoreapp3.1/demo-api.csprojAssemblyReference.cache

