<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990257045964-ok4752hr40qedgcpuk42s7d3psoe38fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990257045964-ok4752hr40qedgcpuk42s7d3psoe38fp</string>
	<key>API_KEY</key>
	<string>AIzaSyBO_SCkI6qYiI-WjgQaPduqmYt-Rw9x8_M</string>
	<key>GCM_SENDER_ID</key>
	<string>990257045964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myheroes.myhero</string>
	<key>PROJECT_ID</key>
	<string>inlaid-chiller-308723</string>
	<key>STORAGE_BUCKET</key>
	<string>inlaid-chiller-308723.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990257045964:ios:c901b4cc34a2a63512bd69</string>
</dict>
</plist>